
@import './coloresStyles';


footer {
    display: flex;
    background-color: $colorSecundario;
    margin-top: 100px;
    height: 150px;
    grid-column: 1/13;

    .footer-info {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 100%;
    }

    .footer-logos {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 100%;
        img {
            width: 30px;
            height: 30px;
            margin: 5px;
        }
    }
}

